body {
    margin: 0;
    padding: 0;
    background-color:  rgba(226, 249, 255, 0.858);
}
.container {
    margin: 0 auto;
    width: 600px;
}
#result {
    display: flex;
    justify-content: space-between;
}
th {
    padding: .5em;
}
#result {
    max-height: 480px;
    overflow-y: scroll;
}
caption {
    font-size: larger;
    font-weight: 800;
    margin: .5em 0;
}
label {
    cursor: pointer;
}
input {
    margin: .5em;

}
#des_encrypt {
    height: 2.5em;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(26, 125, 211);
    border: 1px solid rgb(29, 83, 183);
    cursor: pointer;
}